*.gz
quiver.sty
main.pdf 
main.bbl
#main.aux
#main.idx
#main.log
#main.out
#smain.toc

# LaTeX auxiliary files
*.aux
*.log
*.idx
*.toc
*.out
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls
*.synctex(busy)
*.ilg
*.ind
